h1 {
	color: #003049;
	font-size: 50;
	font-style: Helvetica;	
}
body {
	background-color: rbg(230,230,230);
	font-family: Arial;
}
h2 {
	color: #003049;
	font-size:25;
	font-family: Arial;
}
a {
	color: #f77f00;
	font-family: Arial
	font-weight: lighter;
}
div {
	background color : white;
	border-radius : 5px;
	padding : 40px;
	margin : 40px;
	text-align : center;
}
.card-white {
	background-color: white;
	border-radius: 5px;
	padding: 40px;
	margin: 40px;
	text-align: center;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3)
}
#img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color:#f77f00;
	color: white;
	font-weight: bold;
	padding : 15px;
	border-radius : 4px;
	text-decoration: none;
}
.container {
	width: 700px;
	margin: 0 auto;
}
p {
	margin-bottom : 40px;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	list-style: none;
	display: inline;
	padding: 20px;
}
.list-inline i {
	font-size: 50px;
}

@media (max-width: 720px) {
	.container {
		width : 550px;
	}
}
@media (max-width: 520px) {
	.container {
		width : 350px;
	}
}
@media (max-width: 320px) {
	.container {
		width : 200px;
	}
}